# Git
.git
.gitignore
.gitattributes

# Flutter build artifacts
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub
build

# Entorno
.env
.env.*

# Tests (ajustar si la imagen corre tests en CI)
test
coverage

# IDE y OS
.idea
.vscode
*.iml
.DS_Store
Thumbs.db

# Docs locales
README.md
*.md

# Android / iOS generados
**/android/.gradle
**/android/captures
**/android/local.properties
**/ios/Pods
**/ios/.symlinks
