# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Entorno
.env
.env.*

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Cobertura
coverage/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android / iOS (generados)
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/ios/.generated/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/

# Excepciones útiles en repo
!**/ios/Runner/Assets.xcassets/
